{% extends 'base.html.twig' %}


{% block body %}
<section id="login" class="container py-5">
    <div class="row py-5 justify-content-center">
        <div class="col-12">
            <h2 class="text-center pt-5">Connexion</h2>

            <form class="d-flex flex-column m-auto py-3" action="{{path('app_login')}}" method="post" id="form">
                {# <----- Flash alert -----> #}
                {% if error %}
                    <div class="alert alert-danger">
                        {{error.messageKey|trans(error.messageData, 'security')}}
                    </div>
                {% endif %}


                 {% if app.user %}
                 <div class="mb-3">
                  You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>

                     </div>

           
              

                     {% endif %}
<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
<div class="email">
    <label class="pb-2" for="inputEmail">Email :</label>
    <input class="form-control py-2 mb-3" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
</div>
<div class="input-group mb-3">
    <input type="password" name="password" id="inputPassword" class="form-control py-2" autocomplete="current-password" required>
    <div class="input-group-append">
        <span class="input-group-text" id="toggle-password"><i class="fas fa-eye"></i></span>
    </div>
</div>
<small class="text-end mb-3">
    <a href="{{ path('forgotten_password') }}">Mot de passe oublié ?</a>
</small>
{# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
<input type="submit" class="btn btn-dark py-2 mb-3" value="Se connecter"></input> #}

  
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <input type="submit" class="btn btn-dark py-2" value="Se connecter"></input>
            </form>

        </div>
    </div>

    <div class="col-12 pb-5 text-center">
        <p>ou</p>
        <button class="btn btn-outline-dark w-25" href="{{path('app_register') }}">Créer un compte</button>
        {# <p>
        <a href="{{path('github_connect')}}">Se connecter avec github</a>
        </p> #}
    </div>
</section>


<script>
const passwordInput = document.querySelector('#inputPassword');
const togglePasswordButton = document.querySelector('#toggle-password');

togglePasswordButton.addEventListener('click', function() {
  const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
  passwordInput.setAttribute('type', type);
  togglePasswordButton.classList.toggle('fa-eye-slash');
});


</script>

<style>
.input-group {
  width: 100%;
}

.input-group input[type="password"] {
  border-radius: 0.25rem 0 0 0.25rem;
}

.input-group-append {
  cursor: pointer;
}

.input-group-text {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: none;
}

</style>
{% endblock %}
