{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   


<style>

.container {
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .container a {
    flex: 0 0 14%;
    text-align: center;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px;
  }


{# .carousel-control-prev {
  margin-left: 0px;
  z-index: 1;
  left: 0;
} #}


{# .carousel-control-next {
  margin-right: 0px;
  z-index: 1;
  right: 0;
} #}


{# .carousel-control-prev-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
} #}
{# 
.carousel-control-next-icon {
  position: absolute;
  top: 50%;
  left: -15;
  transform: translateY(-50%);
} #}



.search-container {
  background-color:white;
  margin-top:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  
}

caption {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 0;
  background-color: white;
  border: 1px solid #ddd;
}

 table {
   border-collapse: collapse;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  caption-side: top;
        
      }
      
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      
      th {
        background-color: #f2f2f2;
      }
      
    {# .carousel-item img {
    max-width: 100%;
  }   #}

  .price {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .price table {
    width: 100%;
    background-color: #ffffff;
  }

  .price td {
    width: 50%;
  }


  /* Media queries */
  @media (max-width: 991px) {
    .container a {
      flex-basis: 19%;
    }
  }

  @media (max-width: 767px) {
    .container a {
      flex-basis: 24%;
    }
  }

  @media (max-width: 575px) {
    .container a {
      flex-basis: 49%;
    }
  }


</style>


{% endblock %}



{% block body %}


 {% include ('navbar.html.twig') %}


      {# city #}


<div class="container">



  <a href="{{ path('app_product_controller_crud_index') }}">LOVINA</a>
  <a href="#">KUTA</a>
  <a href="#">UBUD</a>
  <a href="#">SANUR</a>
  <a href="#">GILI ISLAND</a>
  <a href="#">LAST MINUTE</a>



<div class="search-container">
  <input type="text" placeholder="Padang-Padang">
  <input type="text" placeholder="17/04/2023">
  <input type="text" placeholder="1 semaine">
  <input type="text" placeholder="2 adultes">
  <button type="submit">Search</button>
</div>

</div>


<div class="row mx-4 mt-4 mb-4">
  <div class="col-md-8">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <!-- ... carousel HTML goes here ... -->

      <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>


  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{ asset('images/960x0.jpg') }}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/960x0.jpg') }}"  alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/960x0.jpg') }}"  alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/960x0.jpg') }}"  alt="Fourth slide">
    </div>
  </div>
    </div>
  </div>
  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          
          <th>OUR DESTINATIONS</th>
          <th>PRICE</th>
         
        </tr>
      </thead>
      <tbody>
        <tr>
        
          <td>John</td>
          <td>Doe</td>
         
        </tr>
        <tr>
        
          <td>Jane</td>
          <td>Doe</td>
          
        </tr>
        <tr>
       
          <td>Bob</td>
         
          
        </tr>
      </tbody>
    </table>
  </div>
</div>









</html>




<script>
  $('.carousel').carousel({
    interval: 3000 // Change image every 3 seconds
  })
</script>

  

{% endblock %}


