{% extends 'base.html.twig' %}


{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}

    {% include ('navbar1.html.twig') %}


         {% include ('navbar3.html.twig') %}






<style>

.title {
  color: green;
}
    
      body {
        background: #CEF6F5;
      }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>




    {# <h1>Hello {{ controller_name }}! </h1> #}
        {# <h2>I say {{ test }}! </h2> #}



       {# {% for p in products %}
             <h2>{{p}}</h2>
       {% endfor %} #}

        
        {# {% for c in client %} #}
       

        {# <p>{{c}}</p> #}
        {# {% endfor %} #}


        {# {% block name %} #}

        {# <p> nom : {{ client.nom }}</p> #}
        {# <p> prenom : {{ client.prenom }}</p> #}

        {# {% endblock %} #}

      
      {# {% block nom %} #}
  {# <table>
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.prenom }}</td>
          <td>{{ user.nom }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %} #}



{# 
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/laragon/www/mysite/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/laragon/www/mysite/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul> #}
{# </div> #}


{% endblock %}


