<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans %}Document{% endtrans %}</title>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans %}Invoice{% endtrans %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            font-size: 28px;
        }
        .info {
            margin-top: 20px;
        }
        .info td {
            padding: 5px;
        }
        .table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 30px;
        }
        .table th, .table td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        .total {
            margin-top: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>{% trans %}Invoice{% endtrans %}</h1>
    <div class="info">
        <table>
            <tr>
                <td>{% trans %}From:{% endtrans %}</td>
                <td>{% trans %}my site{% endtrans %} </td>
            </tr>
            <tr>
                <td>{% trans %}To{% endtrans %}:</td>
                <td>{{ user.FirstName }}{{user.LastName}}</td>
                <td>{{ user.email }}</td>

            </tr>
            <tr>
                <td>{% trans %}Date:{% endtrans %} {{ date|date('Y-m-d') }} </td>
                {# <td>{{ booking.createdAt|date('d/m/Y') }}</td> #}
            </tr>
        </table>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Product{% endtrans %}</th>
                <th>{% trans %}Price{% endtrans %}</th>
                <th>{% trans %}Quantity{% endtrans %}</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ booking.product.name }}</td>
                <td>{{ booking.product.price }} EUR</td>
                <td>{{ booking.nbperson }}</td>


            </tr>
        </tbody>
    </table>
    <div class="total">

            <p>{% trans %}Price TTC{% endtrans %} {{priceWithoutTva}}</p>
              <p>{% trans %}TVA {% endtrans %}{{tva}}</p>
              
<p>{% trans %}TOTAL PRICE {% endtrans %}{{total}}</p>

        {# <p>Total amount: {{ booking.product.price }} EUR</p> #}



        
    </div>
</body>
</html>
