{% extends 'base.html.twig' %}

{% block title %}Tara index{% endblock %}

{% block body %}
    <h1>Tara index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nume</th>
                <th>Imagine</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tara in taras %}
            <tr>
                <td>{{ tara.id }}</td>
                <td>{{ tara.nume }}</td>
                <td>{{ tara.imagine }}</td>
                <td>
                    <a href="{{ path('app_tara_show', {'id': tara.id}) }}">show</a>
                    <a href="{{ path('app_tara_edit', {'id': tara.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tara_new') }}">Create new</a>
{% endblock %}
