{% extends 'base.html.twig' %}

{% block title %}Tara{% endblock %}

{% block body %}
    <h1>Tara</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tara.id }}</td>
            </tr>
            <tr>
                <th>Nume</th>
                <td>{{ tara.nume }}</td>
            </tr>
            <tr>
                <th>Imagine</th>
                <td>{{ tara.imagine }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tara_index') }}">back to list</a>

    <a href="{{ path('app_tara_edit', {'id': tara.id}) }}">edit</a>

    {{ include('tara/_delete_form.html.twig') }}
{% endblock %}
