{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?key={{ apiKey }}"></script>
{% endblock %}

{% block body %}
    <div id="map" style="position:relative;width:100%;height:600px;"></div>

    <script type="text/javascript">
        var map = new Microsoft.Maps.Map('#map', {
            center: new Microsoft.Maps.Location({{ mapOptions.center.latitude }}, {{ mapOptions.center.longitude }}),
            zoom: {{ mapOptions.zoom }}
        });

        // Define the pushpin image and location
        var pinImage = new Microsoft.Maps.Pushpin(map.getCenter(), {
            icon: '/images/cart.png',
            anchor: new Microsoft.Maps.Point(25, 50)
        });

        // Add the pushpin to the map
        map.entities.push(pinImage);
    </script>
{% endblock %}
