{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h3 class="title">La liste de categories</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.date ? category.date|date('Y-m-d H:i:s') : '' }}</td>
                <td><img src='../uploads/{{ category.image }}'></td>
                <td>
                    <a href="{{ path('app_crud_show', {'id': category.id}) }}"><button>Show</button></a>
                    <a href="{{ path('app_crud_edit', {'id': category.id}) }}"><button>Edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_crud_new') }}"><button>Create new</button></a>


    <style>
    .title {
        color: orange;
    }
    </style>
{% endblock %}


