{# <p>Bonjour {{ user.FirstName }} {{ user.LastName }}</p>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant : <a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Merci</p> #}




{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>

    <p>Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe:</p>

    <p><a href="{{ url }}">{{ url }}</a></p>

    <p>Si vous n'avez pas demandé la réinitialisation de votre mot de passe, vous pouvez ignorer cet e-mail.</p>
{% endblock %}
