<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('app_home')}}">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_crud_index')}}"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_product_controller_crud_index')}}">Product list</a>
      </li>
     
    </ul>

    
    <div class="float-right">
     <ul class="navbar-nav ml-auto">
      {% if app.user %}
        <li class="nav-item">
          <p class="nav-link">Hello, {{ app.user.FirstName}}</p>
          
        </li>
         <li class="nav-item">
         <img src="./my-avatar2.jpg" alt="">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}" id="logout-link"><button>Logout</button></a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}" id="login-link"><button>Login</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register') }}" id="register-link"><button>Register</button></a>
        </li>
      {% endif %}
    </ul>
    </div>
   
  </div>
</nav>


{# <script>
document.getElementById("login-link").addEventListener("click", function() {
  document.getElementById("register-link").style.display = "none";
});
</script> #}