


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
             <li class="nav-item active">
        <a class="nav-link" href="{{path('app_home')}}">Home<span class="sr-only"></span></a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_crud_index')}}">UBUD</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="{{path('app_product_controller_crud_index')}}">SANUR</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{path('app_crud_index')}}">UBUD</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{path('app_crud_index')}}">KUTA</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{path('app_crud_index')}}">PADANG</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{path('app_crud_index')}}">ILLES GILI</a>
      </li>
              
             
            
            
            </ul>

             <ul class="navbar-nav ml-auto">
        {% if app.user %}
        <li class="nav-item">
          <p class="nav-link">Hello, {{ app.user.FirstName }}</p>
        </li>
        <li class="nav-item">
          <img src="./my-avatar2.jpg" alt="">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}" id="logout-link"><button>Logout</button></a>
        </li>
        {% elseif app.request.attributes.get('_route') != 'app_login' and app.request.attributes.get('_route') != 'app_register' %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}" id="login-link"><button>Login</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register') }}" id="register-link"><button>Register</button></a>
        </li>
        {% endif %}
      </ul>
          </div>
        </div>
      </nav>

<style>
.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
  height: 300p
}

.navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 100%;}

.nav-link {
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: #333;
  color: #fff;
}

.nav-item {
  margin: 0 10px;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  
  .nav-item {
    margin: 10px 0;
  }
}
  
@media screen and (max-width: 576px) {
  .nav-item {
    margin: 5px 0;
  }
}

{# 
@media screen and (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }
  
  .nav-item {
    margin: 10px 0;
  }
} #}

{# @media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .nav-link {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5rem;
  }
} #}

</style>