{% extends 'base.html.twig' %}

{% block title %}Oras{% endblock %}

{% block body %}
    <h1>Oras</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ora.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ora.name }}</td>
            </tr>
            <tr>
                <th>Populatie</th>
                <td>{{ ora.populatie }}</td>
            </tr>
            <tr>
                <th>Imagine</th>
                <td>{{ ora.imagine }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_oras_index') }}">back to list</a>

    <a href="{{ path('app_oras_edit', {'id': ora.id}) }}">edit</a>

    {{ include('oras/_delete_form.html.twig') }}
{% endblock %}
