{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}





{% block body %}


 

  

     <div class="container">
        <div class="row mt-3 mb-4">
            <div class="col-md-4">
                <img src="{{ app.request.getBaseURL() }}/ulpoads/{{ product.image }}" alt="{{ product.name }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1 class="mt-4 mt-md-0">{{ product.name }}</h1>
                <h2>{{ product.price }} €</h2>
                <hr>
                <b>Description: </b>{{ product.description }}

                <div class="date">

             <p>Disponibility date: from {{ product.dateIn |date("d/m/y") }} to {{ product.dateOut |date("d/m/y")  }}</p>


        
           
                </div>

                <form class="mt-4 p-4 bg-light" method="post">
                    {# <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" class="form-control" id="quantity">
                    </div> #}


                     <input type="number" id="quantity" name="quantity" class="form-control" value="1" min="1">

                    <a id ="qte" href="{{ path('cart_add', {'id': product.id, 'quantity':3})}}"button class="btn btn-warning">Add to Cart</a>
                </form>
            </div>
        </div>
         <a href="{{ path('app_product_controller_crud_index') }}">back to list</a>
    </div>

<div class="col-lg-6 mx-auto">
  <h2 class="text-center mb-4">Add Comment</h2>
  {{ form_start(form) }}
    {{ form_row(form.comment) }}
    {{ form_row(form.star) }}
    {{ form_row(form.submit) }}
  {{ form_end(form) }}
</div>


{% if comments|length > 0 %}
    <div class="container">
        <hr>
        <h2 class="text-center mb-4">Comments</h2>
        <div class="row">
            {% for comment in comments %}
                <div class="col-md-3 mb-4">
                    <div class="card border-primary">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.user.FirstName }}</h5>
                            <p class="card-text">{{ comment.comment }}</p>
                            <div class="comment-rating">
                                {% for i in 1..5 %}
                                    {% if i <= comment.star %}
                                        <i class="fas fa-star text-warning"></i>
                                    {% else %}
                                        <i class="far fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.index % 4 == 0 %}
                    </div><hr><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}



         
         
  <script>
  let qte = document.getElementById('qte');

  </script>
  
{% endblock %}


