{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}





{% block body %}


 

  

     <div class="container">
        <div class="row mt-3 mb-4">
            <div class="col-md-4">
                <img src="{{ app.request.getBaseURL() }}/ulpoads/{{ product.image }}" alt="{{ product.name }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1 class="mt-4 mt-md-0">{{ product.name }}</h1>
                <h2>{{ product.price }} €</h2>
                <hr>
                <b>Description: </b>{{ product.description }}

                <div class="date">

             <p>Disponibility date: from {{ product.dateIn |date("d/m/y") }} to {{ product.dateOut |date("d/m/y")  }}</p>


        
           
                </div>

                <form class="mt-4 p-4 bg-light" method="post">
                    {# <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" class="form-control" id="quantity">
                    </div> #}


                     <input type="number" id="quantity" name="quantity" class="form-control" value="1" min="1">

                    <a id ="qte" href="{{ path('cart_add', {'id': product.id, 'quantity':3})}}"button class="btn btn-warning">Add to Cart</a>
                </form>
            </div>
        </div>
    </div>

    <a href="{{ path('app_product_controller_crud_index') }}">back to list</a>
  <script>
  let qte = document.getElementById('qte');

  </script>
  
{% endblock %}


