{% extends 'base.html.twig' %}

{% block title %}Détails du compte - Dylan's Shop{% endblock %}

{% block body %}
<section id="account-edit-user" class="container py-5">
    <div class="py-4"></div>

    {# <----- Account Navigation -----> #}
    <div class="row justify-content-between justify-content-xl-around pt-lg-5">
        <nav class="col-md-4 col-xl-3 left-block-account py-3 rounded-2 px-0 px-lg-2">

            <ul class="navbar-account ps-lg-2">
                <h4 class="py-4 ps-4">Bienvenue, {{app.user.firstname}} </h4>
                <li>
                    <a href="{{path('app_account')}}">Tableau de bord</a>
                </li>
                <li>
                    <a href="{{path('app_account_orders')}}">Commandes</a>
                </li>
                <li>
                    <a class="active" href="{{path('app_edit_account')}}">Détails du compte</a>
                </li>
                <li>
                    <a href="{{path('app_edit_password')}}">Modifier mon mot de passe</a>
                </li>
                <li>
                    <a href="{{path('app_adress')}}">Adresses</a>
                </li>
                <li>
                    <a href="{{path('app_logout')}}">Se déconnecter</a>
                </li>
            </ul>
        </nav>
        
        {# <----- Account content -----> #}
        <div class="col-md-8 pt-lg-5">

            <p class="text-end w-100 w-xl-70 mt-3 mt-lg-0">
                <span class="red bold">*</span> Information requise.
            </p>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success text-center my-3 py-3 w-100 w-xl-70">
                    <i class="fa-solid fa-thumbs-up me-2"></i>
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form, {attr: {'class': 'd-flex flex-column w-100 w-xl-70'}} ) }}

            {{ form_row(form.firstname, { label: 'Prénom *', attr : {'class': 'py-2'}} ) }}
            
            {{ form_row(form.lastname, { label: 'Nom *', attr : {'class': 'py-2'}} ) }}           

            {{ form_row(form.email, { label: 'Adresse email *', attr : {'class': 'py-2'}} ) }}
        
        <span class="d-flex justify-content-center text-center">
            {{ form_row(form.submit, {attr : {'class': 'btn btn-dark py-2 mt-2'}}) }}
        </span>

    {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}